body{
    font-family: sans-serif;
    margin: 0;
    }
    section{
        height: 500px;
    }
    .top-banner{
    margin-top: 0%;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    }
    p{
        text-align: justify;
        font-size: 15px;
    }
    .top-banner img{
        width: 100%;
    }
    .top-bg{
        background-image: url("everything/top-banner.png");
        background-repeat: no-repeat;
    }
    .orange{
        color: rgb(255, 88, 88);
    }
    .facebook{
        text-decoration: none;
        background-image: linear-gradient(50deg, lightsalmon, red);
        padding: 5px 10px;
        border-radius: 5px;
        color: rgb(197, 170, 170);       
    }
    .middle{
        background-image: url("everything/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right, bottom;
        background-size: 100px;
    }
    .bottom-makeup{
        box-shadow: 10px 10px 40px grey;
        margin-bottom: 100px;
        margin-right: 0;
    }
    .copyrights{
        text-align: center;
        margin-bottom: 0;
        font-size: smaller;
    }
    #pro{
        border-left: 7px solid;
        border-image: linear-gradient(rgb(0, 252, 113),tomato);
        border-image-slice: 1;
        height: 55%;
    }
    #new{
        border-left: 7px solid;
        border-image: linear-gradient(tomato,rgb(0, 252, 113));
        border-image-slice: 1;
        height: 55%;
    }
    footer p{
        text-align: center;
        margin-bottom: 0;
        font-size: xx-small;
    }
    .facebook{
        transition: all 0.3s;
    }
    .facebook:hover{
        padding-left: 16px;
        color: ghostwhite;
    }
    .bottom{
        height: 400px;
    }
