body{
    font-family: sans-serif;
    margin: 0;
}
section{
    height: 500px;
}
.orange{
    color: orange;
}
.facebook{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(67, 212, 74), rgb(172, 34, 103));
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s;
    color: rgb(212, 196, 196);
}
.facebook:hover{
    padding-left: 16px;
    color: whitesmoke;
    font-weight: 400;
}
.facebook:active{
    color: aqua;
}
p{
    text-align: justify;
}
.top-banner{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
}
.top-banner img{
    width: 100%;
}
.top-bg{
    background-image: url("everything/top-banner.png");
    background-repeat: no-repeat;
}
.middle{
    background-image: url("everything/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.bottom-makeup{
    box-shadow:10px 10px 45px gray;
}
#new{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(95, 224, 95), rgb(241, 153, 138));
    border-image-slice: 1;
    height: 50%;
}
#pro{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(241, 153, 138),rgb(95, 224, 95));
    border-image-slice: 1;
    height: 50%;
}
footer p{
    font-size: smaller;
    text-align: center;
    margin-bottom: 0;
}




