body{
    font-family: sans-serif;
    margin: 0;
    }
    .top-banner{
    margin-top: 0%;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    }
    p{
        text-align: justify;
        font-size: 15px;
    }
    .top-banner img{
        width: 100%;
    }
    .top-bg{
        height: 500px;
        background-image: url("everything/top-banner.png");
        background-repeat: no-repeat;
    }
    .orange{
        color: rgb(255, 88, 88);
    }
    .facebook{
        text-decoration: none;
        background-image: linear-gradient(50deg, lightsalmon, red);
        padding: 5px 10px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        
    }
    .middle{
        height: 500px;
        background-image: url("everything/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right, bottom;
        background-size: 100px;
        

    }
    .bottom-makeup{
        box-shadow: 10px 10px 40px grey;
        margin-bottom: 100px;
        margin-right: 0;
    }
    .bottom-side{
        height: 500px;
    }
    .copyrights{
        text-align: center;
        margin-bottom: 0;
    }
    .pro{
        border-bottom: 7px solid;
        border-image: linear-gradient(180deg,rgb(107, 100, 0), rgba(255, 0, 0, 0.555));
        border-image-slice: 1;
    }